.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    font-size: 40px;
}

.rpsContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

button {
    height: 100px;
    width: 100px;
}

.result {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-bottom: 50px;
    font-size: 32px;
    box-sizing: border-box;
}