* {
    border: black solid 1px;
}

.heading {
    text-align: center;
    font-size: 48px;
    margin: 0;
}

.subheading {
    text-align: center;
    margin: 0;
    font-size: 24px;
}

.rpsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 72px;
}

button {
    height: 100px;
    width: 100px;
}

.result {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-bottom: 50px;
    font-size: 32px;
    box-sizing: border-box;
}

.scoreBoardHeading {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.scoreBoard {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

#playAgain {
    display: none;
    width: 250px;
}